#lab 37 - Reshaping dataframes in Pandas

# Problem

1. Read 'nba.csv' file using pandas library 

2. Use stack method to change from wide table to 

3. Unstack dataframe 

4. Melt dataframe for columns 'Name' and 'Team'

In [4]:
## Solution

import pandas as pd

df=pd.read_csv("nba.csv")

df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [11]:
# reshape the dataframe using stack() method 

df_stacked = df.stack() 

df_stacked.head(100)

0   Name         Avery Bradley
    Team        Boston Celtics
    Number                   0
    Position                PG
    Age                     25
                     ...
10  Salary         2.56926e+06
11  Name         Isaiah Thomas
    Team        Boston Celtics
    Number                   4
    Position                PG
Length: 100, dtype: object

In [13]:
# unstack() method 
df_unstacked = df_stacked.unstack() 

df_unstacked.head(10)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,6-2,180,Texas,7.73034e+06
1,Jae Crowder,Boston Celtics,99,SF,25,6-6,235,Marquette,6.79612e+06
2,John Holland,Boston Celtics,30,SG,27,6-5,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,6-5,185,Georgia State,1.14864e+06
4,Jonas Jerebko,Boston Celtics,8,PF,29,6-10,231,NaN,5e+06
5,Amir Johnson,Boston Celtics,90,PF,29,6-9,240,NaN,1.2e+07
6,Jordan Mickey,Boston Celtics,55,PF,21,6-8,235,LSU,1.17096e+06
7,Kelly Olynyk,Boston Celtics,41,C,25,7-0,238,Gonzaga,2.16516e+06
8,Terry Rozier,Boston Celtics,12,PG,22,6-2,190,Louisville,1.82436e+06
9,Marcus Smart,Boston Celtics,36,PG,22,6-4,220,Oklahoma State,3.43104e+06

In [15]:
# take two columns "Name" and "Team" to melt

df_melt = df.melt(id_vars =['Name', 'Team'])  

df_melt.head(10)

            Name            Team variable value
0  Avery Bradley  Boston Celtics   Number     0
1    Jae Crowder  Boston Celtics   Number    99
2   John Holland  Boston Celtics   Number    30
3    R.J. Hunter  Boston Celtics   Number    28
4  Jonas Jerebko  Boston Celtics   Number     8
5   Amir Johnson  Boston Celtics   Number    90
6  Jordan Mickey  Boston Celtics   Number    55
7   Kelly Olynyk  Boston Celtics   Number    41
8   Terry Rozier  Boston Celtics   Number    12
9   Marcus Smart  Boston Celtics   Number    36