In [ ]:
#lab 35 - Slicing and Dicing with pandas 

#Problem

#1. Read 'adultdata.csv' with pandas 

    # Columns :  ['age','workclass','fnlwgt','education','education_num','marital_status','occupation','relationship','race','sex','capital_gain','capital_loss','hours_per_week','native_country','annual_income']
              

#2. Create copy of the dataframe 

#3. Create a subset dataframe with column 'age'

#4. Select rows postios from 0 to 5 

#5.

In [10]:
## Solution

import pandas as pd

import numpy as np

columns = ['age','workclass','fnlwgt','education','education_num','marital_status','occupation','relationship','race','sex','capital_gain','capital_loss','hours_per_week','native_country','annual_income']

df = pd.read_csv('adultdata.csv',names=columns)

In [11]:
# 2. Using the copy function
true_copy_df = df.copy()

In [12]:
new_age = df['age']
new_age.head()

0    39
1    50
2    38
3    53
4    28
Name: age, dtype: int64

In [13]:
df[0:5]

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,annual_income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K